@use "variables" as *;
@use "reset" as *;

:root {
  font-family: $font-secondary;
  color: $color-light-text;
  background-color: $color-light-bg;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: none;
}
