@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$font-primary: system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-secondary: "Roboto", sans-serif;

$color-light-text: rgba(255, 255, 255, 0.87);
$color-dark-bg: #242424;
$color-light-bg: #ffffff;
$color-link: #646cff;
$color-link-hover: #535bf2;
