/* Variables for de PrimeCar System */

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Poppins", sans-serif;

$color-dark-bg: #000000;
$color-light-bg: #ffffff;
$color-bg-sidebar: #101010;
$color-bg-page-edit-view: #b1b1b1;
$color-bg-dialog-alert: #f2cf8d;

$color-light-text: #ffffff;
$color-dark-text: #000000;
$color-text-secondary: #1a202c;
$color-text-tertiary: #878787;

$color-primary: #242323;

$color-button-primary: #3d5e73;
$color-button-danger: #f00;

$color-border-table: #878787;
