@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Poppins", sans-serif;

$color-light-text: rgba(255, 255, 255, 0.87);
$color-dark-bg: #000000;
$color-bg-sidebar: #101010;

$color-light-text: #ffffff;
$color-link: #646cff;
$color-link-hover: #535bf2;

$color-primary: #242323;
